body{
    background: #f0f2f5 !important;
    height: 100%;
}
#root{
    height: 100%;
}
.header{
    background-color: #fff !important;
    border-bottom: 1px solid #999999;
}
.content{
    min-height: 500px !important;
    margin: 10px;
}
.footer{
    text-align: center;
    border-top: 1px solid #999999;
    padding: 12px 50px !important;
}